.App {
    width: 100vw;
    min-height: 100vh;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252525;


    .Header {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .AppLogo {
            height: 50px;
            margin-right: 15px;
        }

        .AppName {
            margin-bottom: 8px;
            width: 200px;
            height: 32px;
        }
    }

    .Content {
        display: none;
    }

    .Content.Loaded {
        width: 100vw;
        min-height: 100vh;
        background-color: #ececec;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        color: #252525;
    }

    .ComingSoon {
        margin-top: 100px;
        font-family: Raleway;
        font-size: 20px;
        text-align: center;
        padding: 0 20px;
    }

    .LookAt {
        margin-top: 30px;
        font-family: Raleway;
        font-size: 16px;
        text-align: center;
        padding: 0 20px;
    }

    .Link {
        margin-top: 15px;
        font-family: Raleway;
        font-size: 16px;
        background-color: #252525;
        color: #ececec;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 10px;
    }
}