@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --text: #ebebeb;
    --anti-text: #232323;
    --text-half: #ebebeb4d;
    --text-quarter: #ebebeb1a;
    --header: #232323;
    --header-bg: rgba(24, 24, 24);
    --header-bg-transparent: rgba(24, 24, 24, 0.5);
    --line: #232323;
    --line-bright: #333333;
    --border: #181818;
    --shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    --progress: #C6BDFC;
    --inactive: #808080;
    --check: #ffffff;
    --submit: #ffffff;
    --light-btn-bg: #ffffffb3;
    --orange-flex: #ffb168;
    --background: #181818;
    // --violet-flex: #a094e8;
    --violet-flex: #949ae8;
    // --violet-flex: #364289;
    --error-flex: #ffb168;
    // --violet-text: #8a76ff;
    --violet-text: #767fff;
    // --violet-text: #3347e1;
}

$text: var(--text);
$anti-text: var(--anti-text);
$text-half: var(--text-half);
$text-quarter: var(--text-quarter);
$header: var(--header);
$header-bg: var(--header-bg);
$header-bg-transparent: var(--header-bg-transparent);
$line: var(--line);
$line-bright: var(--line-bright);
$border: var(--border);
$shadow: var(--shadow);
$progress: var(--progress);
$inactive: var(--inactive);
$check: var(--check);
$submit: var(--submit);
$light-btn-bg: var(--light-btn-bg);
$orange-flex: var(--orange-flex);
$background: var(--background);
$violet-flex: var(--violet-flex);
$error-flex: var(--error-flex);
$violet-text: var(--violet-text);

$black: #121212;
$black-half: #12121226;
$text-stable: #232323;
$anti-text-stable: #ffffff;
// $violet-btn: #C6BDFC;
$violet-btn: #bdc6fc;
$violet-btn-hover: rgba($violet-btn, 0.4);
$violet-btn-hover-transparent: rgba($violet-btn, 0.2);
// $violet-btn-hover-light: #e1dcff;
$violet-btn-hover-light: #dcdfff;
// $violet-lightest: #f6f5ff;
$violet-lightest: #ebecf5;
// $violet: #8576DF;
$violet: #7684df;
// $violet-light: #a094e8;
$violet-light: #94a8e8;
// $violet-mid: #413689;
$violet-mid: #363d89;
$violet-mid-hover: #4d5787;
// $violet-dark: #231C4C;
$violet-dark: #1c224c;
// $violet-darkest: #1b163a;
$violet-darkest: #161a3a;
$violet-dark-light: rgba($violet-dark, 0.6);
$violet-dark-light2: rgba($violet-dark, 0.8);
$violet-dark-light3: rgba($violet-dark, 0.7);
// $violet-card: #6a5db1;
$violet-card: #5d6bb1;
$banner: rgba($violet-darkest, 0.8);
$orange: #ff7b00;
$orange-light: #ffb168;
$orange-very-light: #ffd7b2;

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
    background-color: $header;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: $violet-btn;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    background-color: #f9f9fd;
    transition: background-color 0.3s ease;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

button {
    background-color: unset;
    border-radius: unset;
    border: unset;
    cursor: pointer;
}

a {
    text-decoration: unset;
    color: unset;
}

body {
    background-color: #181818;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.LightTheme {
        background-color: #ffffff;
    }

    &.DarkTheme {
        background-color: #181818;
    }
}

html {
    width: 100vw;
    overflow-x: hidden;
}