@use '../../styles/base.scss';

.Header {
    width: 100vw;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: base.$text;
    position: fixed;
    top: 0;
    left: 0;
    background-color: base.$header-bg-transparent;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0), base.$header-bg-transparent 30%);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.blur-gradient {
    position: absolute;
    height: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    // background-color: rgba(255, 255, 255, 0.537);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    mask-image: linear-gradient(to bottom, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);

    pointer-events: none;
}


.HeaderLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 7vw;
    cursor: pointer;

    img {
        height: 36px;
    }

    span {
        font-size: 26px;
        font-weight: 600;
        // font-family: 'Tektur', sans-serif;
        font-family: 'Manrope', sans-serif;
    }
}

.HeaderNav {
    width: calc(100% - 167px - 20px - 10px);
    max-width: 500px;
    height: 46px;
    padding: 0 5px;
    background-color: base.$header;
    border-radius: 12px;
    box-shadow: base.$shadow;

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
            font-size: 14px;
            font-weight: 600;
            width: calc(20% - 5px);
            height: 36px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color .2s ease, color .2s ease;

            @media (hover: hover) {
                &:hover {
                    background-color: base.$violet-btn-hover-transparent;
                }
            }

            @media (pointer: coarse) {
                &:active {
                    background-color: base.$violet-btn-hover-transparent;
                }
            }

            &.ChosenTab {
                background-color: base.$violet-btn-hover-light;
                color: base.$text-stable;
            }
        }
    }
}

.HeaderChat {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 7vw;
    height: 43px;
    padding: 0 22px;
    background-color: pink;
    background-color: base.$text;
    border: solid 1.5px base.$text;
    color: base.$anti-text;
    border-radius: 12px;
    box-shadow: base.$shadow;
    font-size: 14px;
    font-weight: 600;
    // text-transform: uppercase;
    cursor: pointer;
    transition: background-color .2s ease, color .2s ease, transform .2s ease;

    img {
        margin-left: 16px;
        width: 14px;
    }

    @media (hover: hover) {
        &:hover {
            background-color: unset;
            color: base.$text;
        }

        &:active {
            transform: scale(0.98);
        }
    }

    @media (pointer: coarse) {
        &:active {
            background-color: unset;
            color: base.$text;
        }
    }
}

@media (min-width: 2250px) {
    .Header {
        width: calc(100% - 36px - 1000px);
        max-width: calc(1920px - 1000px - 36px);
    }
}

@media (max-width: 1600px) {
    .Header {
        width: 100%;
        max-width: 1920px;
        position: static;
        padding-bottom: 0;
        padding-right: 0;
    }

    .HeaderNav {
        width: 500px;
    }
}

@media (max-width: 760px) {
    .Header {
        justify-content: center;
    }

    .HeaderNav {
        display: none;
    }
}